body {
    font-family: 'Montserrat', sans-serif;
}

.site-box {
    overflow: hidden;
}
.wrapper {
    max-width: 1141px;
    padding: 0 15px;
    margin: 0 auto;
}


/*==================== Section banner-site ================================== */
.sectio {
	overflow: hidden;
}

@media (min-width: 767px) {
    .header-container {
        width: 100%;
        margin: 0 auto;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .header-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 69.4%;
    }
    .header-logo {
        display: block;
        background-image: url(../images/icon/logo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 97px;
        height: 30px;
    }
    .logo-style {
    }
    .header-burger {
    }
    .burger {
    }
    .header-nav {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        gap: 46px;
    }
    .header-nav a {
        font-weight: 600;
        font-size: 20px;
        color: #443737;
        text-decoration: none;
        transition: 0.3s;
    } 
    .activ {
    }
    .header-social {
        display: flex;
        width: 90px;
        height: 30px;
        gap: 30px;
    }
    
    .header-social__inst {
        background-image: url(../images/icon/instagram.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
    .header-social__fb {
        background-image: url(../images/icon/fb.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
    }
	.sectio {
		display: flex;
	}
}

.sectio__content {
	flex: 0 0 100%;
	display: flex;
}
.sectio__container {
	max-width: 1141px;
	padding: 0px 20px;
	margin: 0px auto;
	/* background-color: #6b6a6a; */
	display: flex;
	align-items: center;
}
.sectio__body {
	padding: 50px 0px 50px 0px;
}

@media (min-width: 767px) {
	.sectio__body {
		padding: 50px 20px 50px 0px;
		width: 40%;
	}
}

.sectio__image img {
	max-width: 100%;
}

@media (min-width: 767px) {
	.sectio__image {
		position: relative;
		flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
		padding: 0 0 44.5% 0;
		transform: translate(-100%, 0px);
	}
	.sectio__image img {
		position: absolute;
		/* width: 100%;
		height: 100%; */
		top: 44px;
		left: 0;
		object-fit: cover;
	}
}
.box-gradient-left {
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
    width: 27.9vw;
    opacity: .2;
    position: absolute;
    height: 850px;   
}
.box-gradient-rigt {
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);  
    width: 20vw;
    opacity: .2;
    position: absolute;
    height: 850px;
}
@media (min-width: 1360px) {
    .sectio__container {
        position: relative;
    }
    .sectio__body {
		padding: 50px 20px 50px 0px;
		width: 56%;
	}
	.sectio__image {
		/* flex: 0 0 calc(100vw - (((100vw - 1360px) / 2) + ((1360px - 40px) * 0.4) + 20px)); */
		flex: 0 0 calc(50vw - (0.4 - 0.5) * 1320px);
        transform: translate(-110%, 0px);
	}
    .sectio__image img {
		top: 37px;
		
	}
    .box-gradient-left  {
        position: absolute;
        height: 850px;
    }
    .box-gradient-rigt {
        position: absolute;
        height: 850px;
    }
    .sectio__title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 125%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
    }
    .sectio__number {
        font-weight: normal;
        font-size: 40px;
        line-height: 125%;
        color: #2B3541;
    }
    .sectio__number-big {
        margin-right: 22px;
    }
    .sectio__area {
        max-width: 297px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #2B3541;
    }
    .sectio__link {      
        padding: 20px 30px;
        position: absolute;
        background: #FBF138;
        box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2B3541;
    }
    .sectio__arrow {
        position: absolute;
        width: 52px;
        height: 55px;
        background-image: url(../images/icon/arrow.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 41vw;
        object-fit: cover;
    }
}
/* ========================================================================== */




 @media(min-width: 767px) {
    .section-title {
    }
    .events-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        position: relative;
    }
    .events-grid__item {
        position: relative;
    }
    .gradient {
        position: absolute;
        background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    }
    .events-grid__cover {
        width: 100%;
        height: 54vw;
        position: relative;
        overflow: hidden;
        margin-bottom: 21px;
    }
    .events-grid__cover img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .events__time {
        position: absolute;
        top: 0;
    }
    .events__title {
        position: absolute;
        top: 20px;
    }
    .text {
        position: absolute;
        bottom: 0;
        right: 0;  
    } 
    .yoga__tablet {
        display: none;
    }
    .maraphon__tablet {
        display: none;
    }
 }
 @media(min-width: 1360px) { 
    .events {
        margin-top: 153px;
    }
    .section-title {
        max-width: 470px;;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.3;
        margin-left: -3px;
        letter-spacing: 0.09px;
        margin-bottom: 44px;
    }
    .events-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 600px;
        gap: 20px;
        position: relative;

    }
    .events-grid__item {
        position: relative;
    }
    .gradient {
        position: absolute;
        background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    }
    .events-grid__cover {
        width: 100%;
        height: 600px;
        /* height: 29vw; */
        position: relative;
        overflow: hidden;
        margin-bottom: 21px;
    }
    .events-grid__cover img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .events__time {
        position: absolute;
        top: 0;
    }
    .events__title {
        position: absolute;
        top: 20px;
    }
    .text {
        position: absolute;
        bottom: 0;
        right: 0;
        /* margin: 0; */
        padding: 0;
    
    }
 } 
 @media(max-width: 767px) {
    .box-gradient-left {
        background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
        width: 27.9vw;
        opacity: .2;
        position: absolute;
        height: 82.5vw;
        
    }
    .box-gradient-rigt {
        background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);  
        width: 20vw;
        opacity: .2;
        position: absolute;
        height: 82.5vw;
    }
    .section-title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 41px;
        line-height: 1.1;
        margin-left: 2px;
        letter-spacing: 2.04px;
        margin-bottom: 44px;
    }
    .mobile {
        grid-column: 1 / 3;
    }
    .events-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        position: relative;
    }
    .events-grid__item {
        position: relative;
    }
    .gradient {
        position: absolute;
        background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    }
    .events-grid__cover {
        width: 100%;
        height: 40vw;
        position: relative;
        overflow: hidden;
        margin-bottom: 21px;
    }
    .events-grid__cover img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .maraphon__tablet {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .maraphon__desctop {
        display: none;
    }
    .yoga__tablet {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .yoga__desctop {
        display: none;
    }
    .events__time {
        position: absolute;
        top: 0;
    }
    .events__title {
        position: absolute;
        top: 20px;
    }
    .text {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
 


