
@media (min-width: 767px) {
    .header-container {
        width: 100%;
        margin: 0 auto;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .header-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 55.4%;
    }
    .header-burger {
        display: none;
    }
    /* .header-logo {
        display: block;
        background-image: url(../images/icon/logo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 97px;
        height: 30px;
    } */
    .logo-style {
        display: block;
        background-image: url(../images/icon/logo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 97px;
        height: 30px;
    }
    .header-burger {
    }
    .burger {
    }
    .site-nav {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        gap: 46px;
    }
    .site-nav a{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #2B3541;
        text-decoration: none;
        transition: 0.3s;
    } 
    .activ {
    }
    
	.banner {
		display: flex;
        height: 53vw;
	}
    .banner__title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        /* font-size: 48px; */
        font-size: calc(24px + 16 * ((100vw - 320px) / 960));
        line-height: 125%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
    }
    .banner__number {
        font-weight: normal;
        font-size: 40px;
        line-height: 125%;
        color: #2B3541;
    }
    
    .banner__number-big {
        margin-right: 22px;
    }
    .banner__text {
        max-width: 297px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #2B3541;
    }
    .banner__link {      
        margin-top: 21px;
        margin-left: 95px;
        padding: 20px 30px;
        position: absolute;
        background: #FBF138;
        box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2B3541;
    }
    .banner__arrow {
        position: absolute;
        width: 52px;
        height: 55px;
        background-image: url(../images/icon/arrow.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 41vw;
        object-fit: cover;
    }
    .banner__gradient-left {
        background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
        width: 27.9vw;
        opacity: .2;
        margin-left: 5vw;
        position: absolute;
        height: 55vw;   
    }
    .banner__gradient-rigt {
        background: linear-gradient(90deg, #FDF9B6 0%, rgba(253, 249, 182, 0.7) 166.81%);  
        width: 20vw;
        opacity: .2;
        margin-left: 34vw;
        position: absolute;
        height: 55vw;
    }
    .banner__body {
        z-index: 1;
		padding: 17px 20px 50px 0px;
		width: 40%;
	}
    .banner__image {
		position: relative;
		flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);
		padding: 0 0 44.5% 0;
		transform: translate(-100%, 0px);
	}
	.banner__image img {
		position: absolute;
		/* width: 100%;
		height: 100%; */
		top: -8px;
		left: 0;
		object-fit: cover;
	}
    .section-title {
    }
    .events-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        position: relative;
    }
    .events-grid__item {
        position: relative;
    }
    .gradient {
        position: absolute;
        background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    }
    .events-grid__cover {
        width: 100%;
        height: 54vw;
        position: relative;
        overflow: hidden;
        margin-bottom: 21px;
    }
    .events-grid__cover img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .events__time {
        position: absolute;
        top: 0;
    }
    .events__title {
        position: absolute;
        top: 20px;
    }
    .text {
        position: absolute;
        bottom: 0;
        right: 0;  
    } 
    .yoga__tablet {
        display: none;
    }
    .maraphon__tablet {
        display: none;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 333px ;
        gap: 20px;
     }
     .grid-item {
         position: relative;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;
     }
     .image {
        width: 30px;
        height: 30px;
     }
     .grid-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
     }

     .grid-item__text {
         position: absolute;
         display: none;
     }
     .grid-item__text:hover {
         display: block;
     }
     .grid-item .wrap:hover {
         position: absolute;
         display: block;
     }
     .about__description {
        display: flex;
    }
    .about__description-body {
        display: flex;
        flex-direction: column;
    }
     .advantage {
        display: flex;
        flex-wrap: wrap;
    }

     /* .grid-item:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
     }
     .grid-item:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
     } */
     /* .grid-item:nth-child(4) {
        grid-column: 2 / 2;
        grid-row: 3 / 1;
    
     } */
     /* .grid-item:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
     }
     .grid-item:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 3 / 5;
     } */
}

@media(min-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 250px 40px 71px 284px;
        gap: 20px;
     }
     .grid-item {
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
     }
     .image {
        width: 30px;
        height: 30px;
     }
     .grid-item:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
     }
     .grid-item:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 4;
     }
     .grid-item:nth-child(3) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
     }
     .grid-item:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
     }
     .grid-item:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
     }
     .grid-item:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 3 / 5;
     }
     .mail-box {
        max-width: 645px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;

    }

    .form {
        display: flex;
        gap: 20px;
    }
    .form__input {
        margin-bottom: 10px;
        border: none;
    }
    .agreement {
    }
    .checkbox {
    }
    
    .mail-box__title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;  
        text-align: center;
        color: #2B3541;
    }
    
    .form__button {
        border: none;
        font: inherit;
        color: inherit;
        height: 65px;
        padding: 0 42px;
        background-color: transparent;
        background: #FBF138;
        box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.2);
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2B3541;
    }
    .form__label {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 150%;
        color: #2B3541;
        opacity: 0.5;
    }
    .form__link {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 150%;
        color: rgba(43, 53, 65, 0.5);
        opacity: 0.9;
        cursor: pointer;
    }
    .form__link:hover {
        color: rgb(43, 53, 65);
       

    }

    .about__description {
        display: flex;
    }
    .about__description-body {
        display: flex;
        flex-direction: column;
    }
    .advantage {
        display: flex;
        flex-wrap: nowrap;
    }
   
.footer-box {
    display: flex;
    flex-direction: column;
}
.footer-nav {
    display: flex;
}
}
@media (min-width: 1360px) {
    .banner {
        height: 50.5vw;
    }
    .banner__container {
        position: relative;
    }
    .banner__body {
		padding: 44px 20px 50px 0px;
		width: 56%;
        margin-bottom: 231px;
	}
	.banner__image {
		/* flex: 0 0 calc(100vw - (((100vw - 1360px) / 2) + ((1360px - 40px) * 0.4) + 20px)); */
		flex: 0 0 calc(50vw - (0.4 - 0.5) * 1320px);
        transform: translate(-110%, 0px);
	}
    .banner__image img {
		/* top: 37px; */
		
	}
    .banner__gradient-left  {
        position: absolute;
        height:850px;
    }
    .banner__gradient-rigt {
        position: absolute;
        height: 850px;
    }
    .banner__title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        /* font-size: 48px; */
        /* font-size: calc(24px + 16 * ((100vw - 320px) / 960)); */
        font-size: calc(34px + 16 * ((100vw - 768px) / 1320));
        line-height: 125%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
    }
    .banner__text {
        max-width: 297px;
        margin-left: 95px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #2B3541;
    }
    .banner__number {
        margin-bottom: 0;
        margin-left: 10px;
        font-weight: normal;
        font-size: 40px;
        line-height: 125%;
        color: #2B3541;
    }
    .banner__number-big {
        margin-right: 22px;
    }
    .banner__area {
        max-width: 297px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #2B3541;
    }
    .banner__link {    
        margin-top: 21px;
        margin-left: 95px;  
        padding: 20px 30px;
        position: absolute;
        background: #FBF138;
        box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2B3541;
    }
    .banner__arrow {
        position: absolute;
        width: 52px;
        height: 55px;
        background-image: url(../images/icon/arrow.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 41vw;
        object-fit: cover;
    }
    .events {
        margin-top: 29px;
    }
    .section-title {
        max-width: 470px;;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.3;
        margin-left: -3px;
        letter-spacing: 0.09px;
        margin-bottom: 44px;
    }
    .events-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 600px;
        gap: 20px;
        position: relative;

    }
    .events-grid__item {
        position: relative;
    }
    .gradient {
        position: absolute;
        background: linear-gradient(180deg, rgba(251, 241, 56, .3) 0%, rgba(253, 249, 182, 0) 100%);
    }
    .events-grid__cover {
        width: 100%;
        height: 600px;
        /* height: 29vw; */
        position: relative;
        overflow: hidden;
        margin-bottom: 21px;
    }
    .events-grid__cover img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .events__time {
        position: absolute;
        top: 0;
    }
    .events__title {
        position: absolute;
        top: 20px;
    }
    .text {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0;
    }
    .timetable {
        margin-top: 102px;
    }
    .timetable__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .title__timetable {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 125%;
        margin-top: 53px;
        color: #2B3541;
    }
    .data {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 125%;
        color: #2B3541;
        margin-bottom: 20px;
    }
    
}

